<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Laptop</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <title>Shoop Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/product}">Главная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <p sec:authorize="hasAnyAuthority('ADMIN')"><a class="nav-link" href="/user">Пользователи</a></p>
                </li>
                <li class="nav-item">
                    <p sec:authorize="hasAnyAuthority('ADMIN')"><a class="nav-link" href="/product-create">Создать
                        товар</a></p>
                </li>
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
                      rel="stylesheet"
                      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
                      crossorigin="anonymous">
                <li class="nav-item">
                    <a class="nav-link">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-dark">Выйти</button>
                        </form>
                    </a>
                </li>

            </ul>
            <div class="navbar-text"></div>
        </div>
    </nav>
</head>
<body>
<div class="container">


    <tbody>
    <tr th:each="prod : ${product}">
        <td th:if="${prod.filename}"><img th:src="@{/img/{filename}(filename=${prod.filename})}" th:width="250"
                                          th:height="210"></td>
        <br>
        <th>Название</th>
        <td th:text="${prod.name}"></td>
        <br>
        <th>Процессор</th>
        <td th:text="${prod.cpu}"></td>
        <br>
        <th>Цена</th>
        <td th:text="${prod.price}"></td>
    </tr>
    </tbody>
    <div th:fragment="quantity_control(qtyValue,productId)">

        <nav>
            <ul class="pagination">
                <div th:replace="quantity_control :: quantity_control(1,${product.id})">Колличество</div>
                </li>
            </ul>

            <li>
<!--                <a th:href="@{/cart/add/{pid}/{qty}(pid=${product.id},qty=1)}">-->
<!--                   <a th:href="@{/cart/add/{pid}/{qty}(pid=${product.id},qty=1}">-->
                    <button class="btn btn-primary" id="buttonAdd2Cart">Добавить в корзину</button>

                   </a>
            </li>
        </nav>
    </div>


</div>
<script type="text/javascript">
    contextPath = "[[@{/}]]";
    var productId = "[[${product.id}]]";
</script>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
-->
<script th:src="@{/js/quantity_control.js}"></script>
<script th:src="@{/js/add_to_cart.js}"></script>



</body>
</html>